* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background: coral;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 30rem);
    gap: 2.5rem;
    font-size: 2rem;
    padding: 2rem;
    grid-auto-rows: minmax(36rem, auto);
}

.wrapper>* {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    color: #525252;

}

ul {
    list-style: none;
}

.notemaker {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: coral;
}

.notemaker .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    border: 2px dashed coral;
    padding: 3rem;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin-bottom: 3rem;
}

.title {
    font-weight: bold;
    font-size: 2.5rem;
    margin: 1rem 0;
    color: black;
}

.list-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note-text {
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

.bottom-content {
    padding-top: 2rem;
    border-top: 1px solid #c8c8c8;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.small-modal {
    position: absolute;
    top: -120%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid #c8c8c8;
    background-color: white;
}

.small-modal>a {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
}

.delete {
    border-top: 1px solid #c8c8c8;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    z-index: 2;
}

.note-header {
    border-bottom: 1px solid #c8c8c8;
    padding: 3rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.note-header p {
    font-size: 2.2rem;
    font-weight: bold;
}

.note-header i {
    font-size: 2.5rem;
    color: #525252;
}

.note-template {
    padding: 5rem;
    padding-top: 2rem;
}

.note-areas {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.note-areas label {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.modal button {
    display: block;
    width: 100%;
    padding: 1rem 0rem;
    background: coral;
    border: none;
    font-size: 2rem;
}

.modal input,
.modal textarea {
    margin-bottom: 1.5rem;
}

#title {
    font-size: 2rem;
    padding: 1rem;
    border: 1px solid black;
}

#note-box {
    border: 1px solid black;
    font-size: 1.8rem;
}

.hidden {
    display: none;
}

.modal-container {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}